.gpuDevice {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gpuUsageDiv {
  padding: 0;
}

.gpuTaskDiv {
  padding: 0;
}

@media (max-width: 768px) {
  .gpuDevice {
    gap: 12px;
  }
}
