.gpuUsageCard {
  width: auto;
  min-width: 300px;
}

.space {
  display: flex;
  width: auto;
  justify-content: center;
}

.innerLine {
  width: auto;

  // 居中
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressTitle {
  padding-left: 8px;
  margin-right: 8px;
}

.gpuUsagePercent {
  // 内部两个组件水平分布
  display: flex;
  justify-content: center;

  // 垂直居中
  align-items: center;
}

.gpuUsagePercentText {
  padding-left: 4px;
}
