.container {
  width: 100%;
}

.helloDiv {
  padding-top: 80px;
  padding-bottom: 80px;
}

.clockDiv {
  font-size: 36px;
  padding: 18px;

  // 居中
  text-align: center;
}

.containerSiteList {
  width: 100%;
}
