.card {
  // 大小根据内容决定
  width: auto;

  // 阴影
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
  }

  // 边距
  margin: 8px;
  padding: 0;

  //   background-color: aqua;
}

.containerDiv {
  // 垂直居中
  display: flex;
  justify-content: center;
  align-items: center;

  // 宽度由内容大小决定
  width: auto;

  //   background-color: red;
}

.avatar {
  margin-right: 8px;
}

.aText {
  font-size: large;
  width: max-content;
}

.popover {
  margin-left: 8px;
}
